.carousel img{
    height: 50%;
    width: 50%;
    align-self: center;
}
#carousel{
    align-self: center;
}

body{
    background-color: rgb(16, 165, 165);
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: rgb(8, 8, 8);
    color: white;
    text-align: center;
    padding: 5px;
}



img{
    padding: 20px;
    height: auto;
    width: 50%;
    align-self: center;
}